
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Prefrontal cortex</h1>
              <div class="emotion">
                  <p>A relatively new part of the brain, which plays the most central role in intelligence, such as thinking and creativity. People’s patterns of recognition, such as their belief, sense of value, worldview, and self-recognition, are formed in here.
When it is activated, the limbic system and the amygdala, which are involved with expression of emotions, are suppressed. On the other hand, when they are activated, it cannot work properly. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>
    </div>

    <script src="script.js"></script>
  </body>
</html>
