
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right display">
                   <a href="#about" class="scroll">home</a>
                   <a href="#transfer" class="scroll">emotions</a>
                   <a href="#classes" class="scroll">coaching</a>
                   <a href="#study" class="scroll">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div id="about" class="top">
      <div class="inner-bg">
        <div class="top-description">
          <h1>About Us</h1>
          <p>anatomic chart of negative emotions</p>
        </div>
        <div class="top-detail">
          <a class="btn btn-top-white btn-lg show" id="read-more">Learn more</a>
          <div id="more-text">
            text text text text text text text
          </div>
        </div>
      </div>
    </div>

    <div id = "transfer" class="class-info low iphone_6">
      <div class="section-title">
        <h2>Negative emotions</h2>
      </div>
      <p>
          lists of negative emotions
      </p>
      <div class="container-2 small-iphone">
          <a href="/emotion/sadness" class="subject yellow ">sadness</a>
          <a href="/emotion/anger" class="subject yellow">anger</a>
          <a href="/emotion/fear" class="subject yellow">fear</a>
          <a href="/emotion/anxiety" class="subject yellow">anxiety</a>
          <a href="/emotion/regret" class="subject yellow">regret</a>
          <a href="/emotion/unsatisfaction" class="subject yellow small iphone_size_2">unsatisfaction</a >
          <a href="/emotion/nervous" class="subject yellow">nervous</a>
          <a href="/emotion/hatred" class="subject yellow">hatred</a>
          <a href="/emotion/shame" class="subject yellow">shame</a>
          <a href="/emotion/contempt" class="subject yellow iphone_size">contempt</a>
          <a href="/emotion/desertion" class="subject yellow iphone_size">desertion</a>
          <a href="/emotion/jealousy" class="subject yellow">jealousy</a>
          <a href="/emotion/resentment" class="subject yellow small">resentment</a>
          <a href="/emotion/inferiority" class="subject yellow small">inferiority complex</a>
          <a href="/emotion/discouragement" class="subject yellow small-2 iphone_size_3">discouragement</a>
          <a href="/emotion/loneliness" class="subject yellow iphone_size">loneliness</a>
      </div>
    </div>

    <div id = "classes" class="class-info gray-section class_info_2">
      <div class="section-title">
        <h2>Coaching methods</h2>
      </div>
      <p>
        COMING SOON...!
      </p>
      <div class="container-2 small-iphone">
        <div href="/coaching/about" class="subject yellow iphone_size">coaching</div>
        <div href="/coaching/comfortzone" class="subject yellow">comfort zone</div>
        <div href="/coaching/self-talk" class="subject yellow">self talk</div>
        <div href="/coaching/goalsetting" class="subject yellow">goal setting</div>
      </div>
    </div>

    <div id = "study" class="class-info class_info_2">
      <div class="section-title">
        <h2 class ="glossary">Glossary</h2>
      </div>
      <div class="container-2 small-iphone">
        <div class="go_bottom">
            <a href="/glossary/amygdala" class="subject yellow iphone_size">amygdala</a>
            <a href="/glossary/limbic-system" class="subject yellow">limbic system</a>
            <a href="/glossary/prefrontal-cortex" class="subject yellow iphone_size">prefrontal cortex</a>
            <a href="/glossary/patterns-of-recog" class="subject yellow small-2 iphone_size">patterns of recognition</a>
        </div>
        <a href="/glossary/para-nerve-system" class="subject yellow small-2 iphone_size_2">parasympathetic nerve system</a>
        <a href="/glossary/sympathetic-nerve" class="subject yellow small-2 iphone_size_2">sympathetic nerve</a>
      </div>
    </div>


    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
      <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
