
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Anger</h1>
              <div class="emotion">
                  <p>There are two kinds of anger. One is based on animal instinct and the other is related to one’s <a class="link" href="/glossary/patterns-of-recog">patterns of recognition</a>. The former is a biological emotion which is needed to protect oneself or one’s territory. The other is more complicated because it is based on people’s patterns of recognition. This is referring to all of one’s thoughts, such as a sense of morality; “people should behave like this”, self-evaluation; “I am this kind of person”, or recognition toward other people; “he/she thinks I am this kind of person”.  The patterns of recognition are different for each person, so it can vary from person to person what makes them feel angry and how much they get mad. What these two kinds of anger have in common is that they are caused when people feel they are attacked. It can be said that the former one is caused by the attack that is related to basic instincts such as something life-threatening. For example, people will feel angry if they are punched suddenly. Or, we may get irritated when you are sitting with your good friends and a stranger comes to your table. The latter one is caused by the attack toward your patterns of recognition. For example, we will get mad if others speak ill of us. This is because we think our own recognition is denied. Also, people sometimes become angry toward immoral action because it is against their own sense of morality. Furthermore, these two angers can be changed to another emotion. For example, the former anger will become fear if animals or someone who is stronger than you attacks you. In addition, the latter one can become <a class="link" href="/emotion/sadness">sadness</a> if people’s existing recognition is broken and they have to accept the new recognition which is against their existing ones. For instance, let suppose you worked on a project and did a presentation but received a worse evaluation than you had expected. If you think it was fair, you will feel sad because your recognition of yourself is broken and you have to accept the new recognition. However, you will be mad if you think it was unfair because you felt your self-evaluation is attacked. In fact, there is a very fine line between anger and sadness, and it’s not uncommon that people feel sad first and become angry later. </p>
                  <h1>Methods to relieve</h1>
                  <p>1.Relaxing will help calm your anger.  It’s because <a class="link" href="/glossary/para-nerve-system">parasympathetic nerve system</a> will be activated, and then serotonin, which stabilizes human mentality, will be secreted more smoothly. A breathing technique is one of the good methods to help become relaxed. For example, when you breathe out, relax your body as much as possible. You don’t need to care about when taking a breath, but when breathing out, breath out as long as you can and relax your body as much as possible. </p>
                  <p>2.Emotions are amplified by a certain part of brain called <a class="link" href="/glossary/amygdala">the amygdala</a>. However, when you are thinking hard, the part called <a class="link" href="/glossary/prefrontal-cortex">the prefrontal cortex</a>, which plays a role in intelligence, is activated and the activity of amygdala is suppressed. Thus, you can free from feelling anger if you think logically. There are many ways you can activate the prefrontal cortex. For example, let’s suppose you are betrayed by your friend and feel mad. You can think about the reason why he/she betrayed you, or you can think about what you could do from now on to avoid the similar situations. In addition, you can think how to get revenge on the person who made you angry. Think about the most effective way to get your revenge. You don’t have to actually carry it out. The purpose is to activate your prefrontal cortex and suppress the activity of the amygdala. You can think about the ways as much as possible and elaborate on them so that you can think more logically. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
