
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Anxiety</h1>
              <div class="emotion">
                  <p>People feel anxious when they expect some threat happen to them in the future. Sadness and anger are caused by a past event, but anxiety is caused by future events people imagine. People experience fear toward impending crises, but people feel anxious toward the threat which is expected to be occur within a few hours or at most few years later. In summary, in order to experience anxiety, it is necessary to be able to do advanced reasoning and think about the future, so it can be only done by human beings whose brains are developed enough to do this. There are two types of anxiety: people worry about the events which will occur inevitably, such as death or becoming old and the ones who worry about the events which might occur based on their expectations. </p>
                  <h1>Methods to relieve</h1>
                  <p>1. There is anxiety which you can feel. It is the anxiety toward death or becoming old. As long as we are alive, we will have something that we cannot control and will feel anxiety from this. However, because we have that uneasiness, we can face ourselves and cultivate our thoughts. Thus, you don’t have to force yourself to suppress it. Rather, you can accept that you are feeling it and accept that emotion.
</p>
                  <p>2. However, there are some anxiety you don’t need to feel. For example, when you are worried you cannot get a high score for the next test, or when you are anxious if you cannot complete your project in time. In short, anxiety about a job, studying, or human relationships can be elevated in this case. People feel anxiety simply because they cannot predict the future well enough or they cannot properly cope with the future they predicted in order to avoid a bad situation. Anxiety cannot be resolved unless you deal with the expected event and risk appropriately.  You can overcome your anxiety if you understand what situation you are in and what kind of events or risk you will have in the future, and then deal with the problem properly. Try to make the best solution as much as you can, anyway you can. Also, please note that there will be some cases where your prediction itself is wrong. For example, when you decide to become a musician and your parents or friends tell you that it will be hard to live on that kind of job. Since you are told by people, you become anxious that you may not be able to make a living in the future, even though there are actually many musicians who can earn their living. In this case, you need to change your thought process. Try to collect the exact information and consider logically many things, such as whether you really cannot earn your bread, or what you should do to make a living off as a musician. If you can change that your recognition that it’s hard to earn a living as a musician, you won’t be worried. </p>
                  <p>3. If the feeling of anxiety is too strong, it sometimes becomes fear. People feel anxiety when they expect a bad situation may occur in the future, but if they worry about it too much, they misunderstand and believe that it will happen soon, or it will definitely occur. Then, it will be difficult for them to think logically because <a class="link" href="/glossary/limbic-system">the limbic system</a> which is responsible for activating emotions and
                      <a class="link" href= "/glossary/prefrontal-cortex">the prefrontal cortex</a> is suppressed. In this case, the situation might become worse because they may deal with problems blindly and amplify their fear more and more.The best way in this case is to avoid or escape the presence of fear. You can travel abroad for a few days, or if you have any hobbies you can be absorbed in them too.  If you don’t have time, a two-day trip is also okay.  Once you get away from the cause of your fear, the limbic system will become weakened gradually and the prefrontal cortex is activated so that you can consider the problem logically. If you feel uneasiness without doing anything and act on  feelings alone, the fear will continue growing.</p>
                  <p>4. If people feel strong anxiety or fear, <a class="link" href="/glossary/limbic-system">the limbic system</a> is activated and <a class="link" href="/glossary/prefrontal-cortex">the prefrontal cortex</a> is suppressed. That is, they cannot think logically and may make a wrong decision. Also, it’s hard to control these emotions by themselves. Thus, please don’t try to solve problems when they are being swayed by fear or anxiety. It’s good to ask a professional coach or a third person, who doesn’t have an interest in you, for some advice. Since they are calm, they will give you some nice tips. Furthermore, it’d be better if you didn’t ask your parents for advice. It’s because they might become too biased (since they are close to you, they share the same interest with you. Thus, they may also become too anxious to think properly.)
and lose their cool, and cannot make decisions properly for you.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
