
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Contempt</h1>
              <div class="emotion">
                  <p>There are many reasons why people feel contempt towards others. For example, they despise other people because of their life circumstances such as family line or social status. Also, they will look down on a person because he/she doesn’t have high GPA or is self-centered (ability and personality). Or, they can despise others if they do something against morals or laws, such as an affair or embezzlement. In any case, people feel contempt towards a person when they compare themselves to him/her or when they value his/her behavior negatively based on social norms. <br>Actually, contempt is a meaningless feeling for people. No matter how much others lack ability or talent, or how low their social status is, it doesn’t harm you. If you suffer any damage because of their low ability or status, you will feel angry instead of contempt. Also, even if people do an unethical behavior or they are against the rules, you can just think they are doing wrong stuff, or you can indicate them to stop it. After all, there is no reason
people have to look down on others at all.<br>People who have low self-evaluation of self-ability tend to feel contempt towards others. Everyone will be happy if he/she feels that their value is enhanced, and sad if they feel it has  lowered. The reason why people want to feel contempt towards others is because they want to feel their value is higher by lowering other people’s value so that they don’t need to actually improve their value. They want to avoid being sad about their low self-ability, so they look down other people and lowers their value.  However, it is an illusion that people feel their value is improved relatively by devaluing other people. It doesn’t help them anything and may be a disadvantage for them in the long term.
</p>
                  <h1>Methods to relieve</h1>
                  <p>1.If you look down on other people unintentionally, let’s think about the reason why you do so when you contempt them next time. You can realize your true intentions that you want to lower their values.
</p>
                  <p>2.
If people take unethical behavior, let’s think about the reason why they do so. If you ponder  their circumstances and the upcoming disadvantages as a result of  their behavior, you will then turn to have compassion on them. Also, let’s try to say that it’s not like you to them so that it will not lower neither the self-evaluation of you nor them.
</p>
                  <p>3.
If you still look down on people, please say “it is not like me” to you, instead of accusing yourself. If you keep thinking of it, you will feel uncomfortable when scorning somebody little by little.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
