
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name title">Discouragement</h1>
              <div class="emotion">
                  <p>People are disappointed when they cannot achieve their goals. For example, when they expected they could get into a university, but they failed instead. Or, they thought they had a chance with him/her, but they were rejected. There are two reasons why people couldn’t accomplish their goals.
First, their assumptions were wrong. They believed they were accepted by a university, but their ability was actually not enough to get in. Also, they thought there was some hope he/she liked them, but he/she actually didn’t.
Secondly, their methods were wrong. For instance, the case where they were able to pass their exams, but instead they didn’t prepare enough, or they had chance with him/her, but the timing or the way they  approached him/her was not good.
Whatever the reason is, people feel disappointed when they think it is their own fault.
For example, if they couldn’t pass exams because they were late or a natural disaster happened, they won’t be disappointed as much. In addition, they might feel angry if they failed to confess to someone because of others’ interference.
</p>
                  <h1>Methods to relieve</h1>
                  <p>If you couldn’t achieve your goals, you don’t have to be disappointed. If your assumption or methods were wrong, think that “it’s not like me”, and set new goals again so that you can work towards them. Looking back on the past and being immersed in emotions is okay, but everything should be in moderation. It can’t be helped what happened already, so it is much more healthier and productive to focus on the future and attain new goals.
Also, when you feel disappointed about your job, you are causing trouble for someone else. In this case, you will feel sorry to them, but if you only feel disappointed, it can be said that you are losing your cool and cannot think properly.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
