
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Fear</h1>
              <div class="emotion">
                  <p>There are two types of fear; fear caused by a crisis happening now, and the other caused by a possible threat in the future. First one is the case where you run into a bear, or you have a disaster happening around you. In this case, you have to decide whether you should fight or run away quickly so that you won’t fail to escape. However, even if we are not exposed to a hazard presently, we still feel fear. Second one is caused by a crisis which may occur in the near future but not happening in the present, such as a situation where you lose big money from an investment failure or lost your job. Losing money doesn’t always mean that people cannot continue living,  but it is not hard to imagine that they may think it could shorten their lives and they will be unable to eat under a capitalist system. Also, people can be afraid of invisible things such as ghost or radiation.
                  Here, people feel fear because of advanced knowledge and the ability to expect, so it can be said that the second is peculiar to human beings.</p>
                  <h1>Methods to relieve</h1>
                  <p>1.Sometimes fear is useful and sometimes it is not needed. For example, when people run into a bear, they have to quickly decide whether they should fight or flight. In this case, fear is needed for intuitive decision making because if we are thinking logically to decide what to do, we could fail to escape if we think too long. Hence, when confronting the crisis of life, fear is used as a tool to help us escape a crisis.
                    However, fear is sometimes useless. For example, when you lose your money, or when you are afraid of invisible things ( second type of fear). In this case, logical thinking is needed to make a best decision, instead of quick thinking. Here, feeling fear, so to speak, is the signal which let you know of a upcoming threat. Therefore, the wise choice here is to recognize that signal appropriately to notice the possible crisis ahead of time and make a best solution to it. Conversely, it is bad if people are obsessed with fear and cannot behave wisely.
                    In order to deal with it properly, you first need to calm down and relax. When you feel fear, you cannot think logically because of <a class="link" href="/glossary/amygdala">the amygdala</a>, a certain part of brain involved with emotions, is activated and <a class="link" href="/glossary/prefrontal-cortex">the prefrontal cortex</a>, which takes the role in intelligence is suppressed. If you are relaxed, <a class="link" href="/glossary/para-nerve-system">the parasympathetic nerve system</a> will be activated, and stabilizes your mentality. Then, the amygdala will be inactive and finally you can consider things.
                    You can either take a deep breathe or take a bath. After you are fully relaxed, try to understand how your situation is. For example, when you are facing the upcoming crisis about radiation, try to read reliable context information, which is about the related reliable information, as much as possible. Articles about radiation, such as a half-life or moment magnitude scale. In this case, when you are reading, your prefrontal cortex is activated and the amygdala is inactive, and your fear will  immediately fade out. Then, try to think logically about what you should do to escape a crisis. It is effective to write down each solutions on a piece of paper.  By using your prefrontal cortex, you can both feel free  from fear and make the  best possible decision.</p>
                  <p>2. how to deal with panic</p>
                  <p>If you feel a strong sense of fear, it causes a panic, which makes your body tremble and makes breathing difficult. Once you are in a state of panic, it’s hard to recover from it.  The best way to prevent feeling panic is to monitor your body objectively. When you feel fear, try to pay attention to your physical condition, such as the speed of your heartbeat or your respiratory condition.
However, there are some cases, like when you suddenly have fallen victim to a disaster, and  you cannot help yourself you can start to panic.
In that case, you can recognize that you are feeling fear and accept that emotion. Then, try to activate <a class="link" href="/glossary/prefrontal-cortex">the prefrontal cortex</a>. You can get the correct information and think about how the situation is.  Anyway, just contemplate as much as possible so that the prefrontal cortex will be activated and suppress the activity of <a class="link" href="/glossary/amygdala">the amygdala</a>, which will keep you from feeling panic for a long time. It is also efficient to put on some music or turn on a TV in order to lower the presence of feeling horror and prevent developing post traumatic stress disorder (PTSD).</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
