
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Hatred</h1>
              <div class="emotion">
                  <p>There are two types of hatred; hatred on a biological level, and the emotional level. Physiological hatred is occured in <a class="link" href= "/glossary/amygdala">the amygdala</a>.
Usually, perceptual information such as smell, noise, and taste, is sent to the part of the cortex where it is processed, and things people perceive are finally recognized through the collation of memory and the function of <a class="link" href= "/glossary/prefrontal-cortex">the prefrontal cortex</a>. However, in the amygdala, there are cells which recognize what we should be disgusted by, and once they perceive it, the perceptual information is directly sent to the amygdala, and hatred is occured if the it is matched. Thus, hatred on a biological level will occur faster than common feelings, like anger or sadness, which need more steps to recognizes things.
For example, when you eat something that tastes bad, or hear the buzzing of a mosquito, you will suddenly feel disgusted and react to it. This instinctive quick reaction help people protect their lives from something that threatens them, like insects and poison.
On the other hand, hatred other than the physiological one is occur in the prefrontal cortex. In this case, things people perceive are combined with people’s patterns of recognition and memory, and when it matches the pattern of what we should be disgusted with, people have experience hatred.
People sometimes say “I just can’t stand that person” or “I cannot instinctively accept him”, but it is incorrect. These feelings are come from <a class="link" href= "/glossary/patterns-of-recog">patterns of recognition</a> in the prefrontal cortex.
Hatred on a biological level is occurred toward animals except for humans, so it does not happened to people. If people feel disgusted with others or things which is not dangerous, it is based on their patterns of recognition, which is created by their thoughts, sense of value, and memory. For example, if people feel disgusted with others for having a different skin color, or having different sexual attitudes, it is based on their thoughts.
</p>
                  <h1>Methods to relieve</h1>
                  <p>1.
As mentioned above, the hatred on a biological level instinctively occurs to protect people from something that threatens their lives. The other hatred come from their patterns of recognition.
The best way to dissolve dislike is to activate your prefrontal cortex. Once the activity of the amygdala is predominant, it will be activated more and more, and hatred will last longer.  However, if the frontal cortex is activated, <a class="link" href= "/glossary/limbic-system">the limbic system</a> will be suppressed and even if disgust happens momentarily, it won’t be amplified.
Hence, if you have hatred with something, try to think logically why you feel disgust. Ask yourself why, where, and since when you don’t like it. For example, if you dislike people who have a different skin color, think about since when you started to dislike them, and verify how such patterns of thoughts are created by considering what information or sense of value influenced in your thoughts.
Then, your hatred will be dissolved, and you will notice there is no need to be disgusted
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
