
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Inferiority complex</h1>
              <div class="emotion">
                  <p>Most of the emotions are innate, but a sense of inferiority is acquired later; it is created by society. For example, if people are last on the list for exams, they start to have an inferiority complex. Also, if they are overweight, single, or their salary is relatively lower than others, they may feel a sense of inferiority. However, if there is no such sense of values that getting a high score is superior, slim is beautiful, being a couples is proud, or having high income is wealthy, or people do not accept these sense of values, people will not feel inferior to others. Rather, they will just recognize the fact that they are last on the list, or they are fat.
In short, there are some basis of value determined by society and if people accept it, they feel inferiority.
</p>
                  <h1>Methods to relieve</h1>
                  <p>1.
In order to overcome sense of inferiority, people should notice that a basis of value which creates an inferiority complex is an illusion. Values of society is not common sense because it will be changed by time and location. For example, if fat people go to a country where being overweight is considered as beautiful, they will feel superior. Also, people do not have to feel inferiority even if they are last on the list or they cannot get into good universities. Talent is different for different people, so they do not need to feel a sense of inferiority just because they are not good at a certain thing. Also, it only shows that they are not good at it, not that their whole ability is low, so they don’t have to take it seriously. (tip: goal setting)
The values change often and there is no reason to justify the criteria, so we do not have to take these criteria seriously.
</p>
                  <p>2.
The other way to forsake the feeling of inferiority is to enhance your self-esteem.
Ignore other people’s sense of value, and live by your own values. Try to determine your values by yourself and when you have sense of inferiority, you can say “it’s not like me that I follow other people’s criteria” to you.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
