
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Jealousy</h1>
              <div class="emotion">
                  <p>There are mainly two types of jealousy. First one is related to love. For example, you feel jealousy when you see your partner is hanging out with someone else, or when someone takes your partner away from you. This emotion is occurred because we biologically are animals. Also, parts of brain that manage feelings of love are called ventral tegmental area and nucleus caudatus, which also manage animal instinct. The reason why you cannot think properly when you are in love is because these areas are activated and activity of <a class="link" href= "/glossary/prefrontal-cortex">the prefrontal cortex</a> is weak. Second one is envy which occurs when people compare themselves with others and feel they are superior. It can be said this emotion is social because comparing oneself with others is a really social trait. </p>
                  <h1>Methods to relieve</h1>
                  <p>1. First of all, emotions which are related to love is not unnecessary for us. It’s because it would be dull if human beings did not feel love and allowed computers to decide the best couples for species preservation. Thus, it can’t be helped that jealousy occurs when you see your partner is chatting with someone else or somebody takes him/her away from you. If you have the feelings of love or envy related to love, remember that you are also an animal.  However, we live in societies, so even if we cannot control the occurrence of these, we should still control the degree of emotions because it is not desirable if people become a stalker or cannot perform well at work or while studying.
Secondly, envy occurs when people feel that others are superior to them, or more blessed than them. Actually, this emotion is useless and unnecessary, because comparing oneself with others is nonsense. </p>
                  <p>2. The effective way to control emotions is calm abiding. It’s a mediation of Buddhism and all you do is to consider your emotions objectively. For example, let suppose you feel jealousy because your partner is taken away by somebody. Let’s first recognize that you get jealous now, which helps you look at yourself with objective eyes. Then, think about yourself, your partner, and the one with whom your partner fell in love with. Ponder any cases, such as whether your partner really loves him/her, which aspects of him/her attracted your partner,  what caused your partner to fall in love with somebody, and any faults you may have. Then, your prefrontal cortex will be activated and emotions won’t be amplified by <a class="link" href= "/glossary/amygdala">the amygdala</a>.</p>
                  <p>3. Even if you feel that others are superior to them, you don’t have to get jealous. It lowers your self-evaluation and doesn’t help you with anything. The way to prevent you from feeling envy from comparing yourself to others is to set your own goal. Try to make your dreams big and make sure it’s what you really want to achieve. Once you do so, you cannot compare with others because there is no competitor. For example, a person who has a dream of traveling around the world and to help people who are in trouble will not get jealous with others because they will be only interested in how much they attained. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
