
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Lethargic</h1>
              <div class="emotion">
                  <p>People feel lethargic when they have no energy; they either feel tired or they feel weak. It can be said that it is a situation where they have the motivation, but their body does not follow through with it. It’s because of lack of sleep, malnutrition, or either mental or physical fatigue.
The best way to overcome lethargy is to eat lots of food that you enjoy and also has good nutrition value and to sleep well.<br>However, being healthy cannot motivate someone if they are not already motivated. People don’t get motivated if they are forced to do something against their will. In order to overcome the lack of motivation, they should reconsider what they are doing and find goals they really want to achieve.

</p>
                  <h1>Methods to relieve</h1>
                  <p>
After people have worked at a company for a while, their original goals might change. At first, they had something they really want to do and so they join that company, but then their objective changed  to working for a living, promoting, or completely finishing their work before they knew it. These goals are probably forced on them by others, so it is natural they would become unmotivated. If you are doing what you don’t want to or your goal setting has shifted as time passes, set the correct ones again.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
