
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Nervous</h1>
              <div class="emotion">
                  <p>People feel nervous before or during the important events, such as matches, exams or speeches. Psychological stress cause people to be nervous. The reason why you will feel palpitations, shortness of breath, sweaty, or have a stomach ache is because of <a class="link" href= "/glossary/sympathetic-nerve">the sympathetic nerve</a> becomes dominant.  Likewise, you feel nervous when you are taking exams or having a match, because inside your heart, there is anxiety or fear, like “what if I fail this test” or “what if I lose this game”. Thus, similar to fear and anxiety, while <a class="link" href= "/glossary/amygdala">the amygdala</a> is activated, <a class="link" href= "/glossary/prefrontal-cortex">the prefrontal cortex</a> will be affected and you cannot think logically.
In the sporting world, there are words called “home” and “away”. Game results are tend to be different between players playing matches in home and away, and it’s also because they are nervous. In home, they can play well without any restrictions, but in away, it’s gonna be hard for them to play as usual.
Coaching methods can help people to perform well even in away. In the coaching field, “home” is called “comfort zone”, which implies the sphere where people feel most comfortable. In the comfort zone, people are relaxed and they can bring out their best. Hence, in order to perform well in away, all you have to do is to make away as your comfort zone. Of course, it can be applied to the case where people are taking exams or doing a presentation.
</p>
                  <h1>Methods to relieve</h1>
                  <p>In order to make away as a comfort zone, the best way is to get used to it. A brain perceives the familiar place as their comfort zone and recognize away as an unfamiliar place and will feel anxiety or fear as a result. Therefore, if people can feel familiarity with a situation, their brain can recognized it as a comfort zone.
Image training is an effective way to make it familiar. For example, it’s good to go and see the place in advance, such as if you take an exam or have a match there for the first time. If it’s difficult, you can also see the pictures of it on the Internet. Then, try to imagine the scene where you feel relaxed and perform at your full potential over and over.
Of course, if you want to get used to the situation or place, it’s best to visit the place many times and relive the same experiences. However, even if you don’t go there or experience it actually, the brain will perceive it as a familiar place or experience if you can imagine it realistically. As a result, away becomes home, and you can be relaxed and reach your maximum capacity.
</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
