
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Regret</h1>
              <div class="emotion">
                  <p>People feel regret when they look back on their past decisions and compare the real world with another possible world, the world where they made another choice in the past. In order to do so, the reasoning beyond time and space is needed, and only human beings who have highly-developed frontal cortices can do this. Regret is a result of the evolution of man.
However, it is very a unproductive emotion. No matter how well we imagine the possible world, we live in the real world. Of course, it’s up to you to enjoy imagining it, but comparing it with the real world and thinking that other possible world is better is useless. Also, if you keep regretting, it will affect your performance and decision-making in the real world. Thus, regret does much more harm than good.
</p>
                  <h1>Methods to relieve</h1>
                  <p>1. You cannot exactly evaluate whether your past decision was appropriate or not. It’s because you cannot actually have a life a world where you made a different choice. Also, the evaluation will be different depending on when you compare. For example, let suppose a person is regretting that he should have joined company “A”, instead of company “B”. At this time, he may think he could get a higher salary and work less if he was working at company “A”. However, he might have had bad co-workers or an unreasonable boss at company “A”. Or, maybe company “A” will go bankrupt after 10 years and he might be laid off.
To put it simply, since you won’t know what will happen in the future of the possible world, it’s useless to compare the real world to the possible world.
</p>
                  <p>2. We always try to make a best choice at anytime. Even if you think now that you made a bad decision in the past, you thought it was the best at that time. Thus, you are living the best world which has been built by a pile of your best choices. </p>
                  <p>3. If you make a best choice, you won’t regret it whatever the outcome. If you do so, then you can think that “I wanted to choose it more at that time, so it’s okay” or “I could do what I wanted to do”. So, try to give you a certain reason for your choice so that you won’t regret it. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
