
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotions
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Resentment</h1>
              <div class="emotion">
                  <p>Both resentment and <a class="link" href= "/emotion/anger">anger</a> are occurred when people are unilaterally and unreasonably attacked by others. However, people will feel angry at first, and will then develop a grudge later. For example, people feel mad first when they are betrayed by reliable friends, or they are laid off even though they think they worked hard. Then, if they cannot get out of the bad situations such as they cannot find a new job, or they cannot easily get over their sadness, they will develop a grudge. </p>
                  <h1>Methods to relieve</h1>
                  <p>1. If you have resentment, let’s first think about any faults you might have. It is based on the thought that you are not wrong, or you are a unilateral victim, but is it really true?
For example, in the previous case, they are laid off maybe because their boss or co workers think that they didn’t perform well even though they think that they work hard. Also, people can be betrayed by their trustworthy friends  because they said something mean to them without noticing it. If you had something unfair happen to you and feel resentment, let’s first look at yourself with objective eyes, and think about their situations. If you could notice your fault, you won’t have grudge, and if you think about it deeply, <a class="link" href= "/glossary/prefrontal-cortex">the frontal cortex</a> will be activated and your emotion will be suppressed. </p>
                  <p>2. The effective way to suppress grudge is to do crisis management regularly. If the event is beyond your expectation, you will feel anger and resentment. Thus, always try to think about the worst case scenario and prepare for them. For example, if you are prepared in case you are laid off, or expect someone will betray you, you will less likely to develop a grudge when it really happens to you.</p>
                  <p>3. In fact, we may have something unfair happen to us at some point in our lives. However, even in that case, let’s try to control your emotions and stay rational.
In order to forget resentment, the best way is to think how to get revenge on the person who made you angry. You don’t have to actually carry it out. The purpose is to activate your prefrontal cortex and suppress the activity of <a class="link" href= "/glossary/amygdala">the amygdala</a> so that your emotion won’t be amplified. Think about the ways as much elaborate as possible so that you can think more logically. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
