
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name">Sadness</h1>
              <div class="emotion">
                  <p> Why do you feel sad? Is it because you’ve part from someone important to you? Or, you get worse results than you had expected? Mostly, sadness is caused when you are forced to change what you had recognized about yourself and your surroundings. People have their own <a class="link" href="/glossary/patterns-of-recog">patterns of recognition<a>; “I live in this kind of world”, “I am this kind of person”, “he/she will  behave like this to me” ... when some of those ideas are contradicted, you feel sad. For example, when your crush rejects you, you will feel sad because you recognize that he/she may no longer be interested in you. You feel sad when you have to leave a person who is emotional significant to you because your worldview (recognition of the environment around you) has to be changed. In addition, you feel sad when you get a lower test score than what you expected. It’s because your existing recognition of yourself (ego, self-esteem) is broken. In summary,  sadness will be caused when your recognition system is collapsing, and then you have to accept it.</p>
                  <h1>Methods to relieve</h1>
                  <p>1. Sadness will be reduced if you think in advance the reason which makes you feel sad cannot be helped.
In the case of parting from your loved ones, if you think “there is no immutable things in this world, so it can’t be avoided.”,  you will feel less sad than if  you didn’t think this.
Or, if you think “it can’t be helped if he/she rejects me” in advance, you won’t feel as sad when it happens. This means you can change your patterns of recognition so that you won’t feel as sad.
</p>
                  <p>2. When we feel sad, an endocrine substance called noradrenaline is secreted, and causes feelings of depression. However, serotonin, which stabilizes our mentality, will be secreted eventually so people cannot grieve for a long time. Thus, when you feel sad you can thoroughly feel sorrow until you mentally recover naturally. People can feel sad for at most  over 10 days. During that time, they will create their new patterns of recognition. For example, if you lost an important person, you will gradually accept a new worldview without that person. </p>
                  <p>3. Making yourself busy on purpose is also one of the effective ways to reduce sadness. Emotions are amplified by a certain part of brain called <a class="link" href="/glossary/amygdala">the amygdala</a>. However, when you are thinking hard, the part called <a class="link" href="/glossary/prefrontal-cortex">the prefrontal cortex</a> which plays a role in intelligence, is activated and the activity of the amygdala is suppressed. Conversely, when your mind is filled with an emotion, the amygdala is activated and prefrontal cortex is suppressed. In other words, only one of these two parts can be activated. This is why you cannot think logically or cannot  focus on working when you are emotional. Therefore, if you make yourself busy and think logically, you can avoid feeling sadness. </p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
