
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a class="header-logo scroll" href="/">
                    Emotionade
                </a>
                <div class="header-menu-right">
                   <a href="/" >home</a>
                   <a  id="s_modal">emotions</a>
                   <a  id="ch_modal">coaching</a>
                   <a  id="c_modal">terms</a>
                </div>
            　</div>
            </div>
      </header>

    <div class="click_disappear">
      <div class="container">
          <div class="posts-index">
              <h1 class="class-name title">Unsatisfaction</h1>
              <div class="emotion">
                  <p>There are two type of discontent: one is toward your present situation and the other is toward other people. For example, dissatisfaction with your current situation is like, “I’m working hard, but my salary is low”, “I have my own dream, but I’m working on a completely different job”, or ”I have what I want to do, but I can hardly do it because I’m busy now”.  On the other hand, the discontent with other people can be like, “I don’t like the habits or behavior of my family members”, “my employees don’t live up to my expectation” or “I went to a fancy restaurant, but it was not good”.  Among these two types of dissatisfaction, people should not have the one toward others. Surely, you are not the other person and people cannot control others completely, so it is not surprising if things don’t work out as you expect.  However, it is good to have discontent with your current situation. Your behavior can be changed as much as you like depending on your own feelings. Then if your action is changed, your situation will be changed as well, and your dissatisfaction will be dissolved. In short, this discontent can motivate people to make progress.
There may be some people who do whatever their family or school teachers recommend them to do, and they cannot do what they really want to do. They will feel unsatisfactory with their current situation. Accepting the value supported by the public or the people around you without question means that you discard your sense of value and live by others’ sense of value. After all, you cannot be satisfied by getting what others want, instead you can feel satisfied by getting what you really want.
</p>
                  <h1>Methods to relieve</h1>
                  <p>1. Since you are not the other person, your discontent with others cannot be dissolved and you will feel stressed. <a class="link" href= "/glossary/amygdala">The amygdala</a> will be activated and the activity of <a class="link" href= "/glossary/prefrontal-cortex">the prefrontal cortex</a> will be suppressed. It will affect your performance and the ability to reason. Thus, it’s better not to have dissatisfaction with others. On the other hand, it’s good to have the one with yourself because it may be a chance for you to realize what you really want to do, or what is most important to you.</p>
                  <p>2. If you have discontent with other people, you should first drop the idea that you are absolutely right, and think whether you are at fault. If you think hard, <a class="link" href= "/glossary/prefrontal-cortex"> the prefrontal cortex</a> will be activated and your irritation will be settled. If you could notice your fault, you can then reconsider and change your behavior or thought. If you change yourself, you will have a different perception about people’s behavior, and then they may alter their attitude or behavior toward you. Thus, changing yourself is a much more constructive way to dissolve dissatisfaction than changing the people as you expect.</p>
              </div>
          </div>
       </div>

        <div class="social-section">
          <div class="section-title">
            Follow US!
          </div>
          <a href="https://twitter.com/emotion29032640" class="fab fa-twitter"></a>
          <a href="https://www.instagram.com/emotions_coaching/" class="fab fa-instagram"></a>
        </div>

        <footer>
           © 2018 Yaofeng Wu
        </footer>

    </div>

    <script src="script.js"></script>
  </body>
</html>
