

.class-name{
    font-size:50px;
    margin-bottom:60px;
}

.posts-index{
    margin-top:18%;
    margin-bottom:15%;
}

.emotion p{
    font-size:23px;
    line-height:29px;
    margin-bottom:100px;
}

.link{
    color:#346dd1;
    text-decoration: underline;
    text-decoration-color: #346dd1;
}
